

.search > input{
    border-radius: 25px;
}
.search > button{
    border-radius: 25px;
}
.container 
{
  width:90%;
  max-width:90%;
  margin-top: 80px;
}
.card{
    width: 95%;
    overflow: hidden;
    margin-bottom:40px;
}
.card:hover{
    box-shadow: 0 0 20px #000000;;
    transform: scale(1.02);
} 

.card-img-top{
    width: 100%;
    height: 350px;
}
.card-body{
    height: 260px;
}
.read{
    visibility: hidden;
    width:100%;
}
.card-text{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 575px) {
    .display-4 {
        font-size: 2.4rem;
        margin-top: 140px;
      }
    .card-body{
        height: 220px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .display-4 {
        font-size: 2.8rem;
        margin-top: 80px;
      }
    .card-body{
        height: 315px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .display-4 {
        font-size: 3.2rem;
        margin-top: 80px;
      }
    .card-body{
        height: 300px;
    }
}
@media (min-width: 992px) {
    .display-4 {
        font-size: 3.2rem;
        margin-top: 80px;
      }
    .card-body{
        height: 210px;
    }
}



.Wallpaper {
    padding: 0 0 30% 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #181821;
    border-radius: 5px;
}

.SingleHead {
    float: left;
    width: 160px;
    height: 215px;
    margin: -117.5px 25px 0 15px;
    overflow: hidden;
    background: #06060882;
    background-color: #08090c;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px;
    box-shadow: 0 5px 30px 3px #00000069;
    position: relative;
    border-radius: 4px;
}
.SingleHead img {
    width: 100%;
    height:inherit;
}
.SingleContent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    margin: -55px 0 0 0;
}
.SingleContent h1 {
    margin: 0;
    font-weight: 300;
    font-size: 35px;
    color: #fff;
    line-height: 40px;
    text-shadow: 1px 1px 1px #00000096;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -10px;
    padding: 0 10px 0 0;
    text-transform: capitalize;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Genres {
    float: left;
    width: 100%;
    position: relative;
    top: 56px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.Genres span{
    font-size: 18px;
    margin:10px;
    font-weight: 600; 
}
.overview{
    padding-top:80px;
    border-radius: 4px;
    text-align: justify;
}
.overview p{
    margin:10px;
    font-size:20px;
}
.otherdetails,.ratings,.castdetails{
    margin:10px;
}
.otherdetails span,.ratings span,.castdetails span{
    margin-right:10px;
    font-size:18px;
}

@media screen and (max-width: 600px){
    .Wallpaper {
        padding: 0 0 55% 0;
    }
    .overview{
        padding-top:40px;
    }
    .overview p{
        font-size:12px;
    }
    .Genres p{
        font-size: 12px;
    }
    .SingleHead{
        width: 100px;
        height: 155px;
        margin: -77.5px 25px 0 15px;
    }
    .Genres{
        top: 21px;
    }
    .Genres span{
        font-size: 12px;
        margin:5px;
        font-weight: 600; 
    }
    .otherdetails span,.ratings span,.castdetails span{
        margin-right:10px;
        font-size:12px;
    }
    .SingleContent h1 {
        font-size: 16px;
        top: 21px;
    }
    h1{
        font-size: 16px;
    }

    .trailer1 {
        margin-bottom: 20px;
    }
}
@media (min-width: 601px) and (max-width: 991px){
    .Wallpaper {
        padding: 0 0 45% 0;
    }
    .SingleContent h1 {
        font-size: 30px;
        line-height: 40px;
        top: 0px;
    }
    h1{
        font-size: 30px;
    }
}