

.search > input{
    border-radius: 25px;
}
.search > button{
    border-radius: 25px;
}
.container 
{
  width:90%;
  max-width:90%;
  margin-top: 80px;
}
.card{
    width: 95%;
    overflow: hidden;
    margin-bottom:40px;
}
.card:hover{
    box-shadow: 0 0 20px #000000;;
    transform: scale(1.02);
} 

.card-img-top{
    width: 100%;
    height: 350px;
}
.card-body{
    height: 260px;
}
.read{
    visibility: hidden;
    width:100%;
}

@media (max-width: 575px) {
    .display-4 {
        font-size: 2.4rem;
        margin-top: 140px;
      }
    .card-body{
        height: 220px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .display-4 {
        font-size: 2.8rem;
        margin-top: 80px;
      }
    .card-body{
        height: 315px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .display-4 {
        font-size: 3.2rem;
        margin-top: 80px;
      }
    .card-body{
        height: 300px;
    }
}
@media (min-width: 992px) {
    .display-4 {
        font-size: 3.2rem;
        margin-top: 80px;
      }
    .card-body{
        height: 210px;
    }
}



